<div class='Thread'>
   <div class='threadContainer'>
        <span id='threadName' class='threadInfo'><b><a class="threadTitle" href="/{{topic_link}}">{{thread_name}}</a></b></span>
        <span id='Author' class='threadInfo'>Started By: {{started_by}} at {{post_date}}</span>
   </div>

   <div class='countContainer'>
       <span id='replyCount' class='statsInfo'>Replies: {{total_posts}}</span>
       <span id='viewCount' class='statsInfo'>Views: 999</span>
   </div>

   <div class='recentContainer'>
       <span id='recentAuthor' class='recentInfo'>{{last_poster}}</span>
       <span id='recentTime' class='recentInfo'>{{last_post_date}}</span>
   </div>

</div>
